h1{
  color :red;
}

h2 {
	color: #569718;
   text-align : right; 
    }



section { background-color : #f2f2f2;         
                 float: left; 
                width : 300px;
                height : 600px;
                border: 1px solid black; 
                margin-right : 5px;
              /*  box-sizing: border-box; */
                
}




/* Mobile phones (portrait and landscape) ---------- */
@media (max-width: 767px){
    section {
        width: 100%;
        padding: 0 10px;
    }
}
/* Tablets and iPads (portrait and landscape) ---------- */
@media (min-width: 768px) and (max-width: 991px){
    #p1, p2 {
        width: 50%;
        padding: 0 10px;
        float : left;
    }
}


/* High resolution desktops and laptops ---------- */
@media (min-width: 992px) {
section {
        width: 50%; 
        padding: 0 20px;
        float : left;
    }
}




